@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline-style: none;
}

a {
  color: #777;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family:'Montserrat','Noto Sans KR','Malgun Gothic','Dotum','AppleGothic',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.45px;
}

/* ==== 공통클래스 ==== */
// 내용의 너비를 '변수($innerwidth)'로 지정
$innerwidth: 1320px;

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: $innerwidth;
  margin: 0 auto;
}

/* ==== 개별클래스 ==== */
/* TOPBANNER */
.banner {
  position: relative;
  display: block;
  height: 50px;
  background: #ffcc00;

  .sw-banner {
    width: 100%;
    height: 100%;
    .swiper-slide a {
      position: relative;
      display: block;
      height: 100%;
    }
    .banner-1 {
      background: url('../images/banner_pc_1.jpg') no-repeat center;
    }
    .banner-2 {
      background: url('../images/banner_pc_2.jpg') no-repeat center;
    }
    .banner-3 {
      background: url('../images/banner_pc_3.jpg') no-repeat center;
    }
    .sw-banner-control {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 32px;
      display: block;
      z-index: 9;
    }
    /* Pagination bullet css 수정 */
    .sw-banner-pg {
      .swiper-pagination-bullet {
        width: 10px;
        height: 4px;
        border-radius: 0;
        background: #fff;
        opacity: 0.4;
        margin: 0 2px;
      }
      .swiper-pagination-bullet-active {
        width: 20px;
        height: 4px;
        opacity: 1.0;
      }
    }
  }

  .banner-close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 32px;
    height: 32px;
    background: url('../images/x_icon.png') no-repeat center;
    border: 0;
    z-index: 10;
    cursor: pointer;
  }
}

/* LAYOUT */
.wrap {
  position: relative;
  display: block;
}

/* HEADER */
.header {
  position: relative;
  display: block;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 9999;
  .inner {
    height: 100%;
    display: flex;

    .logo {
      position: relative;
      display: block;
      width: 111px;
      height: 42px;
      background: url('../images/logo_new.png') no-repeat center;
      background-size: contain;
      margin-top: 20px;
      margin-right: 65px;
    }
    .gnb {
      position: relative;
      display: block;

      .menu {
        position: relative;
        display: block;
        > li {
          position: relative;
          display: block;
          float: left;
          > a {
            position: relative;
            display: block;
            line-height: 80px;
            text-align: center;
            font-size: 14px;
            color: #777;
            z-index: 3;
            padding: 0 28px;
            &:hover {
              color: #f9d14d;
            }
          }
          &:hover > a {
            color: #f9d14d;
          }
          &:hover .submenu {
            visibility: visible;
          }

          .submenu {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            display: block;
            visibility: hidden;
            padding: 80px 20px 40px 20px;
            text-align: center;
            background: #fff;
            box-shadow: 0 10px 20px rgb(0 0 0 / 5%);

            li {
              padding: 17px 0;
              a {
                font-size: 13px;
                white-space: nowrap;
                &:hover {
                  color: #f9d14d;
                }
              }
            }
          }
        }
      }
    }
    .member {
      position: absolute;
      right: 0;
      top: 50%;
      display: block;
      .member-list {
        position: relative;
        transform: translateY(-50%);
        display: block;
        li {
          position: relative;
          display: block;
          float: left;
          margin-left: 42px;
          &:first-child {
            margin-left: 0;
          }
          a {
            position: relative;
            display: block;
            width: 23px;
            height: 23px;
            &:hover .tooltip {
              visibility: visible;
            }
            .tooltip {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: 28px;
              display: block;
              visibility: hidden;
              color: #fff;
              background: #000;
              white-space: nowrap;
              padding: 4px 8px;
              border-radius: 3px;
              font-size: 11px;
              &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                top: -3px;
                display: block;
                background: #000;
                width: 6px;
                height: 6px;
              }
            }

          }
          .member-cart {
            background: url('../images/ico-cart.png') no-repeat center;
          }
          .member-mypage {
            background: url('../images/ico-user.png') no-repeat center;
          }
          .member-login {
            background: url('../images/ico-login.png') no-repeat center;
          }
        }
      }
    }
  }
}

/* VISUAL */
.visual {
  position: relative;
  display: block;
  height: 910px;
  .sw-visual {
    width: 100%;
    height: 100%;
    .swiper-slide a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .visual-1 {
      background: url('../images/PC_minimal_new.png') no-repeat center;
      background-size: cover;
    }
    .visual-2 {
      background: url('../images/PC1_newborn.png') no-repeat center;
      background-size: cover;
    }
    .visual-3 {
      background: url('../images/PC2_BabyEssence.png') no-repeat center;
      background-size: cover;
    }
    .visual-4 {
      background: url('../images/PC3_Branding.png') no-repeat center;
      background-size: cover;
    }
    .sw-visual-control {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 550px;
      display: block;
      z-index: 9;
      .sw-visual-pg .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #fff;
        opacity: 1.0;
        margin: 0 4px;
      }
      .sw-visual-pg .swiper-pagination-bullet-active {
        background: #ffcf42;
      }
    }
    .visual-txt {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 645px;
      display: block;
      text-align: center;
    }
    .visual-title {
      position: relative;
      display: block;
      font-size: 30px;
      color: #777;
      margin-bottom: 35px;
      font-weight: 500;
    }
    .visual-desc {
      position: relative;
      display: block;
      font-size: 20px;
      color: #777;
      margin-bottom: 20px;
    }
    .visual-bt {
      position: relative;
      display: inline-block;
      font-size: 20px;
      color: #fff;
      background: #ffcc00;
      padding: 10px 20px;
    }
  }
}

/* CATEGORY */
.category {
  position: relative;
  display: block;
  .inner {
    display: flex;
    flex-wrap: wrap;
    > div {
      position: relative;
      display: flex;
      width: 50%;
      height: 620px;
      padding: 80px;
      align-content: center;
      flex-wrap: wrap;
    }
    .category-desc {
      position: relative;
      display: block;
      width: 100%;
      font-size: 14px;
      color: #777;
      margin-bottom: 35px;
    }
    .category-link {
      position: relative;
      display: block;
      padding: 10px 20px;
      border: 2px solid #777;
      font-size: 20px;
      font-weight: 600;
    }
    .category-img {
      &:nth-child(1) {
        background: url('../images/main_img01_2.png') no-repeat center;
        background-size: cover;
      }
      &:nth-child(4) {
        background: url('../images/main_img02_2.png') no-repeat center;
        background-size: cover;
      }
      &:nth-child(5) {
        background: url('../images/main_img03.png') no-repeat center;
        background-size: cover;
      }
      &:nth-child(8) {
        background: url('../images/main_img04.png') no-repeat center;
        background-size: cover;
      }
    }
  }
}

/* SITEMAP */
.sitemap {
  position: relative;
  display: block;
  padding: 35px 0;
  border-top: 1px solid #bcbcbc;
  .inner {
    display: flex;
    justify-content: center;
    .sitemap-menu {
      position: relative;
      display: block;
      width: 770px;
      > li {
        position: relative;
        display: block;
        float: left;
        margin-right: 45px;
        > a {
          position: relative;
          display: block;
          font-size: 14px;
          font-weight: 500;
          &:hover {
            color: #ffcc00;
          }
        }
        .sitemap-submenu {
          position: relative;
          display: block;
          margin-top: 15px;
          li {
            position: relative;
            display: block;
            margin-bottom: 15px;
            &:hover > a {
              color: #ffcc00;
            }
            a {
              position: relative;
              display: block;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/* FOOTER */
.footer {
  position: relative;
  display: block;
  .inner {
    width: 777px;
  }
  .footer-top {
    position: relative;
    display: block;
    border-top: 1px solid #bcbcbc;
    background: #f3f3f3;
    padding: 35px 0;
    .siteinfo-list {
      position: relative;
      display: block;
      li {
        position: relative;
        display: block;
        white-space: nowrap;
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          position: relative;
          display: inline-block;
          margin-right: 40px;
          font-size: 12px;
          font-weight: 500;
          color: #7e868c;
          em {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            font-size: 12px;
            font-weight: 400;
            color: #777;
          }
          a {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            font-weight: 400;
            color: #777;
          }
        }
      }
    }
    .insta-link {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      width: 155px;
      height: 30px;
      background: url('../images/ico_insta.png') no-repeat center;
    }
  }
  .footer-bottom {
    position: relative;
    display: block;
    border-top: 1px solid #bcbcbc;
    background: #e5e5e5;
    padding: 25px 0;
    .inner {
      .copy {
        position: relative;
        display: block;
        float: left;
        font-size: 12px;
        color: #777;
        strong {
          font-weight: 600;
        }
      }
      .service-list {
        position: relative;
        display: block;
        float: right;
        li {
          position: relative;
          display: inline-block;
          margin-left: 20px;
          a {
            position: relative;
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
}